uvicorn[standard]
pandas
numpy
pydantic
python-dotenv
sqlalchemy
psycopg2-binary
fastapi
python-multipart
redis
rq
openai
tiktoken
qdrant-client
pymupdf
strawberry-graphql[fastapi]
docling[tesserocr]
docling-core[chunking-openai]
tesserocr